
body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.maindiv{
    /* border: 5px solid red; */
    /* position: relative; */
    width: 100vw;
    height: 100vh;
}
.titlediv{
    position: absolute;
    /* border: 5px solid green; */
    width: 530px;
    height: 88px;
    left: 419px;
    top: 176px;
    /* display: flex; */
}
.titlediv p{
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    /* flex-direction: column;
    align-items: center; */
    line-height: 44px;
    color: #292929;
}
.photodiv{
    /* overflow: none; */
    /* border:5px solid blue; */
    position: absolute;
    width: 1100px;
    height: 370px;
    left: 227px;
    top: 264px;
}
.photodiv img{
    height: 100%;
    width: 100%;
}
.textdiv{
    /* border:5px solid rgb(204, 0, 255); */
    position: absolute;
    width: 680px;
    height: 640px;
    left: 419px;
    top: 689px;
}
.textdiv p{
    margin: -5px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 190.6%;
    color: #292929;
}
.videodiv{
    /* border: 5px solid aqua; */
    position: absolute;
    width: 663px;
    height: 382px;
    left: 419px;
    top: 1375px;
}
.nd2textdiv{
    /* border: 5px solid blueviolet; */
    position: absolute;
    width: 680px;
    height: 95px;
    left: 419px;
    top: 1799px;
}
.nd2textdiv p{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 170.6%;
    color: #292929;
}
.footerdiv{
    /* border: 5px solid gold; */
    position: absolute;
    width: 680px;
    height: 95px;
    left: 419px;
    top: 2013px;
}
.footerdiv p{
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 155.6%;
    color: #292929;
}